<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>crud</title>

    <!-- Bootstrap início -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Bootstrap fim -->

</head>

<body class="bg-light">
    <header>
        <div class="container ">
            <nav class="p-1 m-1 navbar navbar-expand-lg navbar-light bg-info d-flex justify-content-center">
                <a class="navbar-brand p-2" href="/">CruDin</a>
            </nav>
        </div>
    </header>


    <div class="container bg-white border border-light mb-3">

        <div class="row">
            <div class="col p-4 mt-5 d-flex justify-content-center">
                <figure>
                    <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600w-1095249842.jpg"
                        height="200" width="200">

                </figure>
            </div>
        </div>
        

{{#registro}}
<form action="/edicao" method="post">
        <ul class="list-group mb-4">
            <li class="list-group-item"><b>Editando registro nº:</b> {{id}} </li>
            <li class="list-group-item"><b>Nome:</b><input type="text" name="nome" value="{{nome}}">  </li>
            <li class="list-group-item"><b>Email:</b> <input type="text" name="email" value="{{email}}"> </li>
            <li class="list-group-item"><b>Telefone:</b><input type="text" name="telefone" value="{{telefone}}"></li>
            <li class="list-group-item"><b>Linkedin:</b> <input type="text" name="link" value="{{link}}"> </li>
            <li class="list-group-item pb-5"><b>Sobre:</b> <input type="text" name="resumo" value="{{resumo}}"> </li>
        </ul>           
        <div class="row ml-auto">
          
            <button type="submit" class="btn btn-success">Registrar</button>
            <select name="id" style="display:none">
                <option value="{{id}}"></option> 
            </select>
          
        </div>
           </form>
{{/registro}}
        



        
    </div>
</body>

</html>