{{>partials/header}}


    <div class="container bg-white border border-light mb-3">

        <div class="row">
            <div class="col p-4 mt-5 d-flex justify-content-center">
                <figure>
                    <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600w-1095249842.jpg"
                        height="200" width="200">

                </figure>
            </div>
        </div>
        

{{#registro}}
<form action="/edicao" method="post">
        <ul class="list-group mb-4">
            <li class="list-group-item"><b>Editando registro nº:</b> {{id}} </li>
            <li class="list-group-item"><b>Nome:</b><input type="text" name="nome" value="{{nome}}">  </li>
            <li class="list-group-item"><b>Email:</b> <input type="text" name="email" value="{{email}}"> </li>
            <li class="list-group-item"><b>Telefone:</b><input type="text" name="telefone" value="{{telefone}}"></li>
            <li class="list-group-item"><b>Linkedin:</b> <input type="text" name="link" value="{{link}}"> </li>
            <li class="list-group-item pb-5"><b>Sobre:</b> <input type="text" name="resumo" value="{{resumo}}"> </li>
        </ul>           
        <div class="row ml-auto">
          
            <button type="submit" class="btn btn-dark">Registrar</button>
            <select name="id" style="display:none">
                <option value="{{id}}"></option> 
            </select>
          
        </div>
           </form>
{{/registro}}
        



        
    </div>
</body>

</html>