{{>partials/header}}
      <div>
        <div class="col p-4 mt-5 d-flex justify-content-center">
          <h1 class="display-4">Registros</h1>
        </div>
      </div>

      <Div class="row ml-5">
        {{#registros}} 
        <div class="col-sm-3 ml-5 mb-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Id: {{ id }}</h6>
              <p class="card-text">Nome: {{ nome }}</p>
              <a href="/registro-detalhado/{{ id }}" class="btn btn-dark">Ver mais</a>
            </div>
          </div>
        </div>
        {{/registros}}
        
      </div>
    

      <div class="modal fade bd-example-modal-sm" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3">
      Deletamos o Id: {{deletado}}
    </div>
  </div>
</div>
  <script>
  $('#mymodal').modal('{{modal}}');
</script>

</body>

</html>